.nav-link {
  position: relative;
  padding-bottom: 2px;
  /* some spacing for underline */

}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  border-radius: 9999px;
  /* fully rounded */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}


.slick-slide > div {
  width: 100% !important;
}

.glass-navbar {
  position: fixed;
  width: 90vw;
  top: 10px;
  left: 50%;
  /* move to horizontal center */
  transform: translateX(-50%);
  /* shift back by half width */
  z-index: 1000;

  background: rgba(238, 44, 186, 0.5);
  /* transparent white */
  backdrop-filter: blur(12px);
  /* frosted blur */
  -webkit-backdrop-filter: blur(12px);
  /* Safari support */

  /* smooth rounded look */

  padding: 12px 20px;
  /* subtle floating shadow */
}